.contact-section-container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  position: relative;
  min-height: 50vh;
  width: 100vw;
  background: #ecf8f2; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  direction: rtl;
  overflow: hidden;
  padding: 3% 0;
}
.city-illustration {
  width: 35%;
  background: url("../../../images/buildings.png") no-repeat center center;
  background-size: cover;
  min-height: 300px;
}

.contact-card {
  width: 40%;
  background: #fff;
  margin-right: -5%;
  padding: 40px;
  opacity: 0.8;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  z-index: 1;
}

.contact-card h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #1e1e1e;
}

.contact-text {
  font-size: 1.1rem;
  color: #444;
  line-height: 1.6;
  margin-bottom: 20px;
}

.contact-button {
  background: #00e079;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  border-radius: 30px;
  padding: 12px 28px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 30px;
}

.contact-button:hover {
  background-color: #04cc9e;
}

.contact-footer {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.6;
}
