.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background: #000623; 
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: -2;
}

.footer-left p {
  font-size: 1rem;
  opacity: 0.7;
}

.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px; 
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.footer-link:hover {
  color: #00e079; 
  font-weight: bold;
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  text-decoration: none;
  color: white;
  font-size: 2rem; 
  transition: all 0.3s ease-in-out;
}

.social-icon:hover {
  color: #00e079;
  transform: scale(1.2);
}
