/* עיצוב כפתורים */
.button-image {
  position: fixed;
  left: 5%; 
  width: 8%; 
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 5;
}

.button-image.left {
  margin-top: 5%; 
}

.button-image.left + .button-image.left {
  margin-top: 15%;
}

.button-image:hover {
  transform: scale(1.2);
}
/* עיצוב ההודעה */
.alert-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);  /* רקע חצי שקוף */
  z-index: 1000;
}

.alert-content {
  background-color: #fff;  /* צבע רקע לבן */
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 400px; /* גודל קבוע להודעה */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.alert-content p {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

.button-options {
  display: flex;
  justify-content: space-around;
}

/* עיצוב כפתורים רגילים */
.button-image {
  width: 8%;
  cursor: pointer;
  margin: 10px;
}

.left {
  float: left;
  margin-right: 10px;
}

.action-button.special {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #00e079;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 30%;  
  margin: 0 10px;

}

.action-button.special:hover {
  background-color: #ffffff;
  color:#00e079;
  border: #00e079 2px solid;
}

/* עיצוב הכפתורים הרגילים */
.action-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}
.alert-content{
  direction: rtl;
}
.action-button:hover {
  background-color: #218838;
}
